// Main link colors
$brand-primary: #3E73D5;

// Hover link color
$link-hover-color: $brand-primary;

// Body
$body-bg: #f9f9f9;
$text-color: #4a4a4a;

$page-header-border-color: #ddd;
$font-family-sans-serif: 'proxima-nova';

// navbar
$navbar-height: 62;

$navbar-default-bg: #fff;
$navbar-default-border: #d4d4d4;
$navbar-default-brand-color: #2d2d2d;

$navbar-default-link-color: #666;

$navbar-border-radius: 0;

// Dropdowns
$dropdown-border: #ccc;