$dark-text: #444;
$medium-text: #555;
$light-text: #999;

$green: #2F97E9;

$light-gray: #F9F9F9;
$medium-gray: #EEEEEF;
$border-gray: #DADADD;

.tagFilterAlert {
	padding: 8px;
	height: 35px;
	label {
		cursor: default;
	}
	a {
		margin-top: -3px;
	}
	.removeFilters {
		color: $medium-text;
	}
}

.timelineContainer {
	&:hover {
		text-decoration: none;
	}
	.timeline {
		padding: 15px 12px;
		-webkit-transition: background 0.1s ease-in-out;
		-moz-transition: background 0.1s ease-in-out;
		-o-transition: background 0.1s ease-in-out;
		transition: background 0.1s ease-in-out;
		border: 1px solid rgba(0,0,0,0.1);
		background: white;
		margin-bottom: 10px;
		&:hover {
			background: #fcf5e2;
			cursor: pointer;
		}
		.avatar {
			margin-right: 5px;
			margin-top: 8px;
		}
		.title {
			font-size: 20px;
			font-weight: bold;
			display: inline-block;
			margin-top: 0px;
			margin-bottom: 0px;
			a {
				color: #534540;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.tagline {
			font-size: 17px;
			margin-top: 2px;
			margin-bottom: 0px;
			color: #999999;
			&:hover {
				text-decoration: none;
			}
		}
	}
}